{% extends "home.html" %}

{% block content %}
 <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2 class="h2">人员信息</h2>
        <h2>{{错误}}</h2>
        <form name="input" action="" method="post">
          {% csrf_token %}
          <input type="text" name="search" />
          <input type="button"  href="#" value="搜索" />
        </form>
      </div>
      <form action="{% url '删除人员' %}" method="POST">  
      {% csrf_token %}
      <input type="submit" value="删除人员"/>
      <div class="table-responsive">
        <table class="table table-striped table-sm" >
          <thead>
              <tr>
              <th>选择</th>
              <th>标识号</th>
              <th>姓名</th>
              <th>证件号</th>
              <th>部门</th>
              <th>人员类别</th>
              <th>职级</th>
              <th>食堂</th>
              <th>电话</th>
              <th>上级管理者</th>
              <th>修改</th>
            </tr>
          </thead>
          <tbody>  
            {% for peoplelist in PeopleLists %}
              <tr>
              <form action="{% url '修改人员信息' %}" method="POST">
              {% csrf_token %}
              <td><input type="checkbox" value="{{ peoplelist.pk }}" name="选项" >{{ i }}</td>
              <td>{{peoplelist.pk}}</td>
              <td>{{peoplelist.name}}</td>
              <td>{{peoplelist.pid}}</td>
              <td>{{peoplelist.department}}</td>
              <td>{{peoplelist.classification}}</td>
              <td>{{peoplelist.rank}}</td>
              <td>{{peoplelist.canteen}}</td>
              <td>{{peoplelist.tel}}</td> 
              <td>{{peoplelist.manager}}</td>
              <td><input type="submit" value="修改"/></td>      
              </tr>
            {% endfor %}
          </form>  
          </tbody>
        </table>
      </div>
    </form>  
    </main>
{% endblock content %}
