{% extends "home.html" %}

{% block content %}
<br>

<form method='POST' action='{% url '添加人员' %}' align='left' enctype='multipart/form-data'>
    {% csrf_token %}
    <br>
    　姓　　名　:
    <input value=" " type="textbox" name="姓名">
        <br>
        <br>
    　证　件　号:
    <input value=" " type="textbox" name="证件号">
        <br>
        <br>
    　部　　门　:
    <input value=" " type="textbox" name="部门">
        <br>
        <br>
    　人员类别　:
    <input value="技术岗" type="textbox" name="类别">
        <br>
        <br>
    　职　　级　:
    <input value="1级" type="textbox" name="职级">
        <br>
        <br>
    　电　　话　:
    <input value="10086" type="textbox" name="电话">
        <br>
        <br>
    　食　　堂　:
    <input value="1号食堂" type="textbox" name="食堂">
        <br>
        <br>
    {{ 错误 }}
    <input class='btn btn-primary' align='right' type="submit" value="提交">
</form>
{% endblock content %}
